usb-c/pcb/usb-c-expansion-card/.history/
usb-c/pcb/usb-c-expansion-card/~usb-c-expansion-card.kicad_pro.lck
usb-c/pcb/usb-c-expansion-card/~usb-c-expansion-card.kicad_pcb.lck
usb-c/pcb/usb-c-expansion-card/~usb-c-expansion-card.kicad_sch.lck
